[submodule "source/lib/fancybox"]
	path = source/lib/fancybox
	url = https://github.com/theme-next/theme-next-fancybox3
[submodule "source/lib/jquery_lazyload"]
	path = source/lib/jquery_lazyload
	url = https://github.com/theme-next/theme-next-jquery-lazyload
[submodule "source/lib/canvas-nest"]
	path = source/lib/canvas-nest
	url = https://github.com/theme-next/theme-next-canvas-nest
